<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>401 - Unauthorized</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>401 - Unauthorized</h1>
            <p>You are not authorized to <strong>{{method}}</strong> "{{uri}}"</p>
            <pre>{{ reason }}</pre>
            <img src="https://i.ytimg.com/vi/m_xdCWn1D9g/hqdefault_live.jpg"/>
            <hr>
            <sub>{{site_name}}</sub>
        </div>
    </body>
</html>