<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>500 - Internal Error</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>500 - Internal Error</h1>
            <p>An error occured while processing your request</p>
            <p>The error has been logged. If the error persists, please contact the server administrator</p>
            <img src="https://i.ytimg.com/vi/m_xdCWn1D9g/hqdefault_live.jpg" />
            <hr>
            <sub>{{site_name}}</sub>
        </div>
    </body>
</html>