{% extends "base/page.html" %}

{% block page %}Homepage{% endblock %}

{% block head %}
{%- include "../target/styles/index.css.html" -%}
{%- include "../target/scripts/manual.js.html" -%}
{% endblock %}

{% block body %}
<div class="uploads">
    <span class="big">{{upload_count}}</span>
    uploads take up
    <span class="big">{{space_count|filesizeformat}}</span>
    of space
</div>
<div class="links">
    <span class="big">{{link_count}}</span>
    links with
    <span class="big">{{total_hits}}</span>
    hits total
</div>
<a href="/u" class="visit">View Uploads</a>
<a href="#" class="visit manualupload">Upload File</a>
<a href="/l" class="visit">View Links</a>
<!-- <a href="/l" class="visit">Create Link</a> -->
<a href="/sxcu/uploader.sxcu" class="visit">Download Uploader</a>
<a href="/sxcu/shortener.sxcu" class="visit">Download Shortener</a>

<input type="file" class="manualupload file">
{% endblock %}