{% extends "base/page.html" %}

{% block page %}Links{% endblock %}

{% block head %}
{%- include "../target/styles/table.css.html" -%}
{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Shortened URI</th>
            <th>Original URI</th>
            <th>Visits</th>
            <th>Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for (link, hits) in links -%}
        <tr>
            <td><a href="/l/{{link.id}}">/l/{{link.id}}</a></td>
            <td><a href="/l/{{link.id}}">{{link.uri}}</a></td>
            <td>{{hits}}</td>
            <td>{{link.timestamp.format("%-I:%M %p on %B %-d")}}</td>
            <td><a href="/l/d/{{link.id}}">Delete</a></td>
        </tr>
        {% endfor -%}
    </tbody>
</table>
{% endblock %}