{% extends "base/page.html" %}

{% block page %}Login{% endblock %}

{% block vars %}
    {% let show_header = false %}
{% endblock %}

{% block head %}
    <script src="/login.js" defer async></script>
{% endblock %}

{% block body %}
    <form id="form">
        <label>
            Username
            <input type="text" name="username" />
        </label>
        <label>
            Password
            <input type="password" name="password" />
        </label>
        <input type="submit" />
    </form>
{% endblock %}