{% extends "base/page.html" %}

{% block page %}Login{% endblock %}

{% block vars %}
{% let show_header = false %}
{% endblock %}

{% block head %}
{%- include "../target/scripts/login.js.html" -%}
{%- include "../target/styles/login.css.html" -%}
{% endblock -%}

{% block body %}
<form id="form">
    <label>
        Username
        <input type="text" name="username" />
    </label>
    <label>
        Password
        <input type="password" name="password" />
    </label>
    <input type="submit" value="Login" />
</form>
{% endblock %}