footer {
    margin-top: auto;
    padding: 20px;
    padding-top: 0;

    .name {
        font-size: 30px;
        float: left;
        vertical-align: top;
    }

    .pb {
        font-size: 15px;
        float: right;
    }
}