html,
body {
    margin: 0;
    min-height: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 10;

    a {
        color: #7979ff;
        text-decoration: none;
    }

    a:visited {
        color: #a879ff;
    }
}