html,
body {
    margin: 0;
    height: 100%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    a {
        color: #7979ff;
        text-decoration: none;
    }

    a:visited {
        color: #935cb8;
    }
}