@import 'include/mixins';

header {
    position: sticky;
    display: block;
    top: 0;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 10000000000;

    @include no-select;
    
    .left {
        float: left;
    }

    .right {
        text-align: right;
    }

    .link {
        display: inline-block;
        padding: 15px 20px;
        color: white;

        &:visited {
            color: inherit;
        }

        .dropdown {
            display: none;
        }

        &:hover {
            background-color: #222222;

            .dropdown {
                display: block;
                position: absolute;
                transform: translate(-20px, 15px);
                background-color: black;

                .link {
                    display: block;
                }
            }
        }
    }
}