@import 'include/mixins';

body {
    background-image: radial-gradient(#00043a, #000000);
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #58585873;
    padding: 30px 40px;
    border-radius: 5px;
    width: 300px;

    label {
        display: block;
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 20px;

        input {
            display: block;
            font-size: 15px;
            padding: 10px 15px;
            background-color: #383838;
            color: #ffffff;
            margin-top: 10px;
            border: none;
            width: calc(100% - (15px * 2));
        }
    }

    input[type=submit] {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #000000;
        border: none;
        border-radius: 3px;
        padding: 10px 5px;
        color: white;

        transition: transform .1s ease-in-out;

        &:hover {
            background-image: linear-gradient(to right, #000 1%, #090e559a, #000 99%);
            opacity: .7;
        }

        &:active {
            transform: scale(95%);
        }
    }

    .alert {
        background-color: #8d2525;
        border: 5px solid #571919;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}