{%- include "../target/styles/header.css.html" -%}
<header>
    <div class="left">
        <a href="/" class="link">Home</a>
        <a href="/u" class="link">Uploads</a>
        <a href="/l" class="link">Shortened URLs</a>
        <div class="link">
            <div class="label">Downloads</div>
            <div class="dropdown">
                <div class="link"><a href="/sxcu/uploader.sxcu" download>uploader.sxcu</a></div>
                <div class="link"><a href="/sxcu/shortener.sxcu" download>shortener.sxcu</a></div>
            </div>
        </div>
    </div>
    <div class="right">
        <a href="/logout" class="link">Logout</a>
    </div>
</header>